[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
ipdb = "*"
ipython = "*"

[packages]
colorama = ">=0.3.8"
readchar = ">=2.0.0"
appdirs = ">=1.4.4"
blessed = ">=1.17.0"

[requires]
python_version = "3.7"

# Please update the .legacy/requirements.txt with new dependencies added here.
