[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
importlib-metadata = "*"
flake8 = "*"
ipdb = "*"
ipython = "*"
coverage = "*"
sphinx_rtd_theme = "*"
sphinx = "*"
enum_tools = "*"
sphinx-toolbox = "*"

[packages]
colorama = ">=0.4.6"
readchar = ">=3.0.5"
appdirs = ">=1.4.4"
blessed = ">=1.20.0"
importlib_resources = ">=5.7.1"
numpy = ">=1.26.0"
wcwidth= ">=0.2.5"
# Please update the .legacy/requirements.txt with new dependencies added here.
