[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
ipdb = "*"
ipython = "*"

[packages]
colorama = ">=0.3.8"
readchar = ">=2.0.0"

[requires]
python_version = "3.7"
