version: 2.1
jobs:
  build:
    working_directory: ~/pygamelib
    docker:
      - image: circleci/python:3.9
        environment:
          PIPENV_VENV_IN_PROJECT: true
    steps:
      - checkout
      - run: sudo chown -R circleci:circleci /usr/local/bin
      - run: sudo chown -R circleci:circleci /usr/local/lib/python3.9/site-packages
      - restore_cache:
          key: python39-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
      - run:
          command: |
            sudo pip3 install pipenv
            pipenv install --dev
      - save_cache:
          key: python39-{{ .Branch }}-{{ checksum "Pipfile.lock" }}
          paths:
            - ".venv"
            - "/usr/local/bin"
            - "/usr/local/lib/python3.9/site-packages"
      - run:
          name: Run linting and metrics
          command: |
            mkdir reports
            pipenv run python3 -m flake8 --output-file reports/linter-results --exclude=.venv
          when: always
      - run:
          name: Run unit tests under tests folder
          command: |
            pipenv run python3 -m unittest discover -s tests
      - run:
          name: Run test coverage suite
          command: |
            pipenv run coverage run --source=./pygamelib -m unittest discover -s tests
            pipenv run coverage report
            pipenv run coverage html
            sh <(curl -s https://codecov.io/bash)
          when: always
      - store_test_results:
          path: reports
      - store_artifacts:
          path: reports
      - store_artifacts:
          path: htmlcov

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
