
-i https://pypi.org/simple
appdirs==1.4.4
blessed==1.20.0; python_version >= '2.7'
colorama==0.4.6; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
importlib-resources==5.7.1; python_version >= '3.7'
numpy==1.26.0; python_version >= '3.8'
readchar==3.0.5
six==1.16.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
wcwidth==0.2.5

# Dev dependencies
importlib-metadata 
flake8
coverage
sphinx_rtd_theme
sphinx
enum_tools>=0.11.0
sphinx-toolbox>=3.5.0
