.boldred {
    color: red;
    font-weight: bold;
}

.boldgreen {
    color: green;
    font-weight: bold;
}

.boldblue {
    color: blue;
    font-weight: bold;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.deprecated {
    color: orangered;
}

.added {
    color: green;
}

.virtual {
    color: rgb(0, 90, 255);
    font-weight: bold;
    border: solid rgb(0, 90, 255) 2px;
    background-color: rgba(0, 90, 255, 0.2);
    padding: 2px;
}